{% extends 'base.html' %}
{% block head %}
    <title>首页</title>
    <style>
        .span4 {
            height: 130px;

        }
    </style>
{% endblock %}
{% block title %}
    首页
{% endblock %}
{% block content %}
    <div class="bui-fluid-space"  style="padding: 10px;">
        <div class="span4" style="text-align: center">
            <a href="">
                <img src="/static/images/钱袋.png" alt="" width="75" height="75">
                <p style="font-size: 18px;color: #2aabd2;">记账</p>
            </a>
        </div>
        <div class="span4" style="text-align: center">
            <a href="">
                <img src="/static/images/书.png" alt="" width="75" height="75">
                <p style="font-size: 18px;color: #2aabd2;">小说</p>
            </a>
        </div>
        <div class="span4" style="text-align: center">
            <a href="">
                <img src="/static/images/备忘录.png" alt="" width="75" height="75">
                <p style="font-size: 18px;color: #2aabd2;">备忘录</p>
            </a>
        </div>
    <div class="span4" style="text-align: center">
            <a href="">
                <img src="/static/images/blog.png" alt="" width="75" height="75">
                <p style="font-size: 18px;color: #2aabd2;">我的博客</p>
            </a>
        </div>
    </div>

{% endblock %}